
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 80% 2%;
    --foreground: 300 20% 98%;
    --card: 300 60% 4%;
    --card-foreground: 300 20% 98%;
    --popover: 300 60% 4%;
    --popover-foreground: 300 20% 98%;
    --primary: 300 100% 50%;
    --primary-foreground: 300 20% 98%;
    --secondary: 300 50% 12%;
    --secondary-foreground: 300 20% 98%;
    --muted: 300 30% 15%;
    --muted-foreground: 300 20% 65%;
    --accent: 300 100% 60%;
    --accent-foreground: 300 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 300 30% 20%;
    --input: 300 30% 20%;
    --ring: 300 100% 50%;
    --radius: 1rem;
    --chart-1: 300 100% 50%;
    --chart-2: 280 100% 60%;
    --chart-3: 320 100% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
